<div class="d-flex flex-column align-items-center flex-grow-1 p-3">
  <h2 class="text-2xl font-semibold mb-4"> Mutual friends </h2>
  <%= form_with(url: user_mutual_friends_path, method: :get, data: {turbo_frame: "friendships_container", turbo_action: "advance", controller: "search", action: "input->search#submit"}) do |form| %>
    <%= form.text_field :query, placeholder: "Search user...", class: "mb-5 form-control" %>
  <% end %>
  <%= turbo_frame_tag :friendships_container, class: "d-flex flex-column align-items-center w-100 flex-grow-1" do %>
    <div id="friendships" class="row g-3 w-100 mb-3">
      <%= render partial: "shared/empty_state", locals: { elements: "users" } %>
      <%= render partial: 'friendship', collection: @mutuals %>
    </div>
    <%= render "pager_mutuals", pagy: @pagy %>
  <% end %>
</div>
