<div class="min-vh-100 d-flex flex-lg-row flex-column justify-content-lg-around justify-content-center gap-4 px-3 py-4 bg-svg">
  <div class="d-flex flex-column justify-content-center align-items-lg-start align-items-center">
    <h1 class="display-1">Vibezone</h1>
    <p class="blockquote text-center">Come hang out and <b>vibe</b> with your friends!</p>
  </div>

  <div class="d-flex flex-column justify-content-center align-items-center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= invisible_captcha %>
      <div class="field">
        <br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
      </div>

      <div class="field">
        <br />
        <%= f.text_field :first_name, autofocus: true, placeholder: "First name", class: "form-control" %>
      </div>

      <div class="field">
        <br />
        <%= f.text_field :last_name, autofocus: true, placeholder: "Last name", class:"form-control" %>
      </div>

      <div class="field">
        <br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class:"form-control" %>
      </div>

      <div class="field">
        <br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password", class:"form-control" %>
      </div>

      <div class="actions">
        <br />
        <%= f.submit "Sign up", class: "btn btn-primary w-100", data: { turbo: false }  %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
