<% if comment.likes.exists?(user_id: current_user.id) %>
  <%= button_to "Unlike", unlike_comment_path(comment), method: :delete %>
<% else %>
  <%= button_to "Like", like_comment_path(comment), method: :post %>
<% end %>

<% if (comment.commentable.author == current_user || comment.commenter == current_user) %>
  <%= button_to "Delete", comment_path(comment), method: :delete, data: { turbo: false } %>
<% end %>

<% if comment.commenter == current_user %>
  <%= button_to "Edit", edit_comment_path(comment), method: :get %>
<% end %>

<% if comment.parent_id.nil? %>
  <div data-controller="reply-form">
    <button type="button" data-action="click->reply-form#toggle">Reply</button>
    <div class="hidden" data-reply-form-target="content">
      <%= render 'comments/form', 
          commentable_id: comment.commentable.id, 
          commentable_type: "#{comment.commentable.class.name}", 
          parent_id: comment.id %>
      </div>
  </div>
<% end %>
