<%= turbo_frame_tag dom_id(comment) do %>
  <li> <b> <%= link_to comment.commenter.full_name, user_path(comment.commenter), data: { turbo_frame: "_top" } %> </b> </li>
  <li><%= comment.content %></li>
  <li><%= time_ago_in_words(comment.created_at) %></li>

  <%= render partial: "comments/buttons", locals: { comment: comment } %>

  <% if comment.parent_id.nil? && comment.replies.any? %>
    <div id="toggle-replies-button-<%= comment.id %>" class="d-none">
      <%= link_to "Hide replies", nil, remote: true, 
        data: {
          controller: "toggle",
          action: "toggle#hideReplies",
          toggle_replies_param: "replies_container_#{comment.id}"
        } 
      %>
    </div>

    <div class="replies" id="replies_container_<%= comment.id %>">
      <%= turbo_frame_tag dom_id(comment, :replies) %>
      <%= turbo_frame_tag dom_id(comment, :load_replies) do %>
        <%= button_to "View replies", replies_comment_path(comment),
          data: { 
            turbo_frame: dom_id(comment, :replies),
            controller: "toggle",
            action: "toggle#showButton",
            toggle_button_param: "toggle-replies-button-#{comment.id}"
          } %>
      <% end %>
    </div>
  <% end %>
<% end %>
