<%= turbo_frame_tag dom_id(comment) do %>
  <li> <b> <%= link_to comment.commenter.full_name, user_path(comment.commenter), data: { turbo_frame: "_top" } %> </b> </li>
  <li><%= comment.content %></li>
  <% if (comment.updated_at - comment.created_at) > 1 %>
    <li><%= time_ago_in_words(comment.created_at) %> ago (edited <%= time_ago_in_words(comment.updated_at) %> ago)</li>
  <% else %>
    <li><%= time_ago_in_words(comment.created_at) %> ago </li>
  <% end %>
  

  <%= render partial: "comments/buttons", locals: { comment: comment } %>

  <% if comment.parent_id.nil? && comment.replies.any? %>
    <div id="toggle-replies-button-<%= comment.id %>" class="d-none">
      <%= button_to "Hide replies", nil, remote: true, class: "round-btn blank",
        data: {
          controller: "toggle",
          action: "toggle#toggleReplies",
          toggle_replies_param: "replies_container_#{comment.id}",
          toggle_target: "link"
        }
      %>
    </div>

    <div class="replies" id="replies_container_<%= comment.id %>">
      <%= turbo_frame_tag dom_id(comment, :replies) %>
      <%= turbo_frame_tag dom_id(comment, :load_replies) do %>
        <%= button_to "View replies", replies_comment_path(comment), class: "round-btn blank",
          data: { 
            turbo_frame: dom_id(comment, :replies),
            controller: "toggle",
            action: "toggle#showButton",
            toggle_button_param: "toggle-replies-button-#{comment.id}"
          } %>
      <% end %>
    </div>
  <% end %>
<% end %>
