<%= turbo_frame_tag dom_id(comment) do %>
  <li> <b> <%= link_to "#{comment.commenter.full_name}", user_path(comment.commenter), data: {turbo_frame: "_top"} %> </b> </li>
  <li> <%= comment.content %> </li>
  <li> <%= time_ago_in_words(comment.created_at) %> </li>
  <li> <%= pluralize(comment.likes.count, "like") %> </li>
  <% if comment.likes.exists?(user_id: current_user.id) %>
    <%= button_to "Unlike", unlike_comment_path(comment), method: :delete %>
  <% else %>
      <%= button_to "Like", like_comment_path(comment), method: :post %>
  <% end %>
<% end %>
<% if comment.commentable.author == current_user %>
  <%= button_to "Delete", comment_path(comment), method: :delete, data: {turbo_frame: "_top"} %>
<% else %>
  <% if comment.commenter == current_user %>
    <%= button_to "Delete", comment_path(comment), method: :delete, data: {turbo_frame: "_top"} %>
  <% end %>
<% end %>
