<%= turbo_frame_tag dom_id(comment) do %>
  <div class="d-flex flex-row gap-2 rounded bg-body-secondary p-3 mb-2">
    <%= image_tag user_avatar(comment.commenter, 50), id: "avatar" %>

    <div class="d-flex flex-column w-100">
      <div class="d-flex flex-row align-items-center justify-content-between">
        <div class="d-flex gap-1">
          <b> <%= link_to comment.commenter.full_name, user_path(comment.commenter), data: { turbo_frame: "_top" } %> </b>     
          <% if (comment.updated_at - comment.created_at) > 1 %>
            <%= time_ago_in_words(comment.created_at) %> ago
            <p title="Edited <%= time_ago_in_words(comment.updated_at) %> ago" class="mb-0">
              *
            </p>
          <% else %>
            <%= time_ago_in_words(comment.created_at) %> ago
          <% end %>
        </div>
        
        <%= render partial: "comments/dropdown", locals: { comment: comment } %>
      </div>
      
      <%= comment.content %>
      
      <div class="d-flex flex-row gap-1 align-items-center">
        <%= render partial: "comments/like_count", locals: { comment: comment } %>
        <%= button_to "Reply", nil, remote: true, class: "round-btn blank",
            data: {
              controller: "toggle",
              action: "toggle#toggleForm",
              toggle_form_param: "reply-comment-#{comment.id}"
            }
        %>
      </div>
      <div class="d-flex flex-column", style="align-self: start;">
        <div id="reply-comment-<%= comment.id %>" class="d-none">
          <%= render 'comments/form',
              comment: Comment.new,
              commentable_id: comment.commentable.id, 
              commentable_type: "#{comment.commentable.class.name}", 
              parent_id: comment.is_a_reply? ? comment.parent_id : comment.id %>
        </div>

        <div id="edit-comment-<%= comment.id %>" class="d-none">
          <%= render 'comments/form',
              comment: comment,
              commentable_id: comment.commentable.id, 
              commentable_type: "#{comment.commentable.class.name}", 
              parent_id: comment.parent_id %>
        </div> 
      </div>
      <div class="d-flex">
        <% if comment.parent_id.nil? && comment.replies.any? %>
          <%= button_to "#{pluralize(comment.replies.count, 'reply')}", replies_comment_path(comment), class: "round-btn blank",
            data: { 
              turbo_frame: dom_id(comment, :replies),
              controller: "toggle",
              action: "toggle#showToggleButton",
              toggle_button_param: "replies-toggle-button-#{comment.id}"
            } 
          %>
          <div id="replies-toggle-button-<%= comment.id %>" class="d-none">
            <%= button_to "#{pluralize(comment.replies.count, 'reply')}", nil, remote: true, class: "round-btn blank",
                  data: {
                    controller: "toggle",
                    action: "toggle#toggleReplies",
                    toggle_replies_param: "replies_container_#{comment.id}",
                  }
            %>
          </div>
        <% end %>
      </div>
    </div>
  </div> 
<% end %>
