<%= turbo_frame_tag dom_id(comment) do %>
  <li> <b> <%= link_to comment.commenter.full_name, user_path(comment.commenter), data: { turbo_frame: "_top" } %> </b> </li>
  <li><%= comment.content %></li>
  <li><%= time_ago_in_words(comment.created_at) %></li>

  <%= render partial: "comments/buttons", locals: { comment: comment } %>

  <% if comment.parent_id.nil? && comment.replies.any? %>
    <div class="replies">
      <div data-controller="toggle-replies">
        <%= turbo_frame_tag dom_id(comment, :toggle_button) %>

        <div data-toggle-replies-target="content">
          <%= turbo_frame_tag dom_id(comment, :replies) %>
          <%= turbo_frame_tag dom_id(comment, :load_replies) do %>
            <%= button_to "View replies", replies_comment_path(comment), data: { turbo_frame: dom_id(comment, :replies) } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>