<% if flash[:alert]%>
  <span class='alert'><%= flash[:alert] %></span>
<% end %>

<%= form_with model: @user do |form| %>
  <%= form.file_field :avatar %>

  <%= form.label :first_name %>
  <%= form.text_field :first_name %>

  <%= form.label :last_name %>
  <%= form.text_field :last_name %>

  <% if current_user.avatar.attached? %>
    <%= form.check_box :purge_avatar %>
    Use Gravatar as profile image
  <% end %>

  <%= form.submit "Submit" %>
<% end %>
