<h1><b>Name: </b><%= @user.full_name %> </h1>
<h3><b>Member since: </b><%= @user.created_at.to_date %> </h3>
<%= image_tag user_avatar(@user, 150), class: "avatar" %>
<% if current_user == @user %>
  <%= button_to 'Delete', user_path, method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <%= link_to 'Edit details', details_path %>
<% else %>
  <% if @mutual_friends_count != 0 %>
    <%= link_to "#{pluralize(@mutual_friends_count, 'mutual friend')}", mutual_friends_user_friendships_path(@user) %>
  <% end %>
<% end %>
<%= link_to "#{pluralize(@user.active_friends.count, 'friend')}", user_friendships_path(@user) %>
<% if current_user != @user %>
  <% unless @friendship %>
    <% if current_user.received_friends.include?(@user) %>
      <%= button_to 'Received friend request!', notifications_path, method: :get %>
    <% else %>
      <%= button_to "Send friend request", user_friendships_path(@user.id), method: :post %>
    <% end %>
  <% else %>
    <%= button_to "Remove from friends", friendship_path(@friendship), method: :delete %>
  <% end %>
<% end %>

<h3> My Posts </h3>
<%= render 'posts/posts' %>
