<div class="new-post-form">
  <%= form_with model: @post do |form| %>
    <%= form.text_area :content %>
    <%= form.submit %>
  <% end %>
</div>

<h3> Posts </h3>
<ul>
  <% if @posts %>
    <% @posts.reverse.each do |post| %>
      <%= render post %>
      <%= link_to "#{pluralize(post.comments.count, 'comment')}", post_path(post) %>
    <% end %>
  <% end %>
</ul>
