<h3> Welcome <%= "#{current_user.first_name}" %>! </h3>
<%= render "posts/form" %>
<%= turbo_frame_tag :posts do %>
  <%= render @posts %>
<% end %>

<%= turbo_frame_tag :pagination, loading: :lazy, src: root_path(format: :turbo_stream, page: @pagy.next) %>
