<ul>
  <li> <%= @post.author.full_name %> </li>
  <li> added <%= time_ago_in_words(@post.created_at) %> ago </li>
  <li> <%= @post.content %> </li>
  <p><%= pluralize(@post.likes.count, 'like') %></p>
  <% if @post.likes.exists?(user_id: current_user.id) %>
    <%= button_to "Unlike", unlike_post_path(@post), method: :delete %>
  <% else %>
    <%= button_to "Like", like_post_path(@post), method: :post %>
  <% end %>
</ul>

<%= render 'comments/form' %>

<% if @post.comments %>
  <ul>
    <% @post.comments.each do |comment| %> 
      <% if comment.commenter %>
        <li> <b> <%= link_to "#{comment.commenter.full_name}", user_path(comment.commenter) %> </b> </li>
        <li> <%= comment.content %> </li>
        <li> <%= time_ago_in_words(comment.created_at) %> </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
