<div class="container py-3 px-md-3"> 
  <%= render @post %>

  <div class="d-flex flex-column align-items-center gap-3">
    <%= render 'comments/form', comment: Comment.new, commentable_id: @post.id, commentable_type: "#{@post.class.name}", parent_id: nil %>

    <% if @comments.any? %>
      <div class="d-flex align-items-center justify-content-end w-100">
        <div data-controller="sort">
          <form method="get" action="<%= post_path(@post) %>" data-turbo-frame="comments" data-turbo-stream>
            <select name="sort_by" class="form-select" data-action="sort#update" data-sort-target="select">
              <option value="newest" <%= 'selected' if params[:sort_by] == 'newest' %>>Newest</option>
              <option value="oldest" <%= 'selected' if params[:sort_by] == 'oldest' %>>Oldest</option>
              <option value="most_liked" <%= 'selected' if params[:sort_by] == 'most_liked' %>>Most liked</option>
            </select>
          </form>
        </div>
      </div>

      <%= turbo_frame_tag :comments, class: "d-flex flex-column w-100 py-md-3 py-2 px-md-3 px-2 bg-white rounded shadow justify-content-center" do %>
        <% @comments.each do |comment| %>
          <%= render comment %>
          <% if comment.parent_id.nil? && comment.replies.any? %>
            <%= render partial: "comments/replies", locals: { comment: comment } %>
          <% end %>
        <% end %>
        <div class="d-flex justify-content-center">
          <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
