<!DOCTYPE html>
<html>
  <head>
    <% notifications_count = user_signed_in? ? current_user.new_notifications_count.to_i : 0 %>
    <title id="notifications_title"><%= "(#{notifications_count}) " if notifications_count.positive? %>Vibezone</title>
    <%= favicon_link_tag asset_path("vz_logo.png") %>
    <meta name="viewport" content="width=device-width,initial-scale=1", charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-vh-100 w-100 bg-body-secondary">
    <% if user_signed_in? %>
      <%= turbo_stream_from current_user, "notifications_count" %>
      <%= render 'layouts/topnav' %>
      <div class="d-flex flex-column align-items-center justify-content-center">
        <%= render 'layouts/flash' %>
      </div>
    <% end %> 
    <%= yield %>
  </body>
</html>
